@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #EBD8FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style-type: none;
    padding: 62px 0 26px 0;
    margin: 0;
}

button {
border-radius: 10.3108px;
border: 0;
width: 196px;
height: 50px;
margin-left: auto;
margin-right: auto;


text-transform: uppercase;
font-weight: 600;
font-size: 18px;
line-height: 22px;

}

p{
  color: #000;
}
